/* src/pages/HomePage.css */

/*IMAGEM DE ABERTURA DEPOS DO NAV*/
#hero {
    min-height: 100vh;
}

.img-home {
    background: linear-gradient(rgba(21, 44, 60, 0.7), rgba(225, 61, 39, 0.3)), url("/imagem_principal_fundo.jpg");
    background-position: center;
    background-size: cover;
}

#hero h1, #hero h5 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#hero a {
    font-weight: 600;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: #960000;
    transition: all 0.5s ease;
    box-shadow: 0px 3px 15px rgba(21, 44, 60, 0.1);
}

#hero a:hover {
    color: #e13e27; /* --laranja-principal */
    transform: translateY(-3px);
}

.homepage-title {
  margin-bottom: 2rem;
  font-weight: 700;
  color: #212529;
  border-bottom: 2px solid #0d6efd;
  padding-bottom: 0.5rem;
  display: inline-block;
}

.product-carousel .swiper-wrapper {
  align-items: stretch;
}

#hero.img-home {
    margin-top: -1.5rem;
    min-height: 80vh; 
}

/* --- CORREÇÃO PARA O CARROSSEL NO DESKTOP --- */

.product-carousel .swiper-slide {
  height: auto;
  display: flex;
}